<h4> LifeCycle Angular</h4>
<div class="row">
  <div class="col-4">
    <img style="width: 100%" src="https://images.viblo.asia/4a2dc72f-f6f7-458b-95e6-9c1ec72a337c.png">
  </div>
  <div class="col-8">
    <h4>Giới thiệu</h4>
    <p><span class="text-danger">Contructor</span>: Chạy lần đầu tiên và chạy 1 lần trước khi component khởi tạo</p>
    <p><span class="text-danger">ngOnChanges</span>: Chạy trước khi Init</p>
    <p><span class="text-danger">ngOnInit</span>: Chạy sau khi component khởi tạo xong</p>
    <p><span class="text-danger">Contructor</span>: Chạy lần đầu tiên và chạy 1 lần khi component chạy trước ngOnInit</p>
    <p><span class="text-danger">Contructor</span>: Chạy lần đầu tiên và chạy 1 lần khi component chạy trước ngOnInit</p>
  </div>


</div>
