<h4>HTML cơ bản</h4>
<p><span class="text-danger"> HTML Sematic</span>: Thẻ có ngữ nghĩa ví dụ: tag img: sử dụng cho hình ảnh tag h1 sử dụng để tạo tiêu đề font
  chữ lớn, tag table để tạo bảng</p>
<p><span class="text-danger"> DOM HTML</span>: Khi website được tải thì trình duyệt tạo ra 1 tổ chức cây tài liệu DOM, tổ chức cây DOM bao gồm
  document / html --- (và các phần tử bên trong) như body header footer)
</p>
<p><span class="text-danger"> Trong 1 thẻ HTML có các Attribute (thuộc tính)</span>:
  các thuộc tính cơ bản bao gồm: <br>
  id, class hoặc 1 số thuộc tính của các thẻ đặc biệt để phục vụ cho tính năng của thẻ đó
</p>
