<h4>Bài Toán Quản lý Sản Phẩm Cơ Bản</h4>
<p>Sửa,Xóa,Thêm mới, Tìm Kiếm sửa dữ liệu API</p>

<div class="container row">
  <button class="btn btn-primary col-2 mr-5" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-plus mr-1"></i>
    Add Mới
  </button>
  <input  type="text" class="form-control col-5" (input)="searchSP($event)" placeholder="Chỉ tìm kiếm tên sản phẩm">

  <div class="form-check">
    <input class="form-check-input" (click)="checkPrice()" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Sort thấp tới cao
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" (click)="checkPriceHigh()" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
    <label class="form-check-label" for="flexRadioDefault2">
      Sort cao xuống thấp
    </label>
  </div>


  <table class="table">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên Sản Phẩm</th>
      <th scope="col">Giá</th>
      <th scope="col">Hình Ảnh</th>
      <th scope="col">Mô Tả</th>
      <th scope="col">Chức Năng</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let items of ArrSanPham">
      <td>{{items.MaSP}} </td>
      <td>{{items.TenSP}} </td>
      <td>{{items.GiaSP}} </td>
      <td>{{items.HinhSP}} </td>
      <td>{{items.MoTa}} </td>
      <td>
        <button class="btn-success mr-2 btn" (click)="editSanPham(items.MaSP)"> Sửa</button>
        <button class="btn-danger btn" (click)="delSanPham(items.MaSP)"> Xóa</button>
      </td>
    </tr>

    </tbody>
  </table>


</div>


<!--Modal-->

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">INPUT DATA</h4>
        <button type="button" class="close" data-dismiss="modal">
          ×
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="formSanPham">
          <div class="form-group">
            <label>Tên ID Sản Phẩm</label>
            <input type="number" id="MaSP" name="MaSP" class="form-control" formControlName="MaSP"
                   placeholder="Nhập vào ID">
          </div>
          <div class="form-group">
            <label>Tên Sản Phẩm</label>
            <input id="TenSP" class="form-control" formControlName="TenSP" placeholder="Nhập vào tên sản phẩm">
          </div>
          <div class="form-group">
            <label>Giá</label>
            <input id="GiaSP" class="form-control" formControlName="GiaSP" placeholder="Nhập vào giá">
          </div>
          <div class="form-group">
            <label>Hình Ảnh</label>
            <input id="HinhSP" class="form-control" formControlName="HinhSP" placeholder="Nhập vào hình sản phẩm">
          </div>
          <div class="form-group">
            <label>Mô tả</label>
            <textarea class="form-control" name="" id="MoTa" formControlName="MoTa" cols="30" rows="10"
                      placeholder="Nhập vào mô tả"></textarea>
          </div>

        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="addProducts" class="btn btn-success" (click)="addSanPham()">Add Product</button>
        <button id="editProducts" class="btn btn-success">Sửa Product</button>
      </div>
    </div>
  </div>
</div>

