<h3>Data Binding</h3>
<div>
  <h5> Binding Interpolation: <span class="text-danger"> sử dụng (2 cặp ngoặc kép) để hiển thị dữ liệu từ code logic sang view </span> </h5>
  <p>Cho ví dụ: sau khi nhập thông tin sử dụng đúng ấn Xác nhận sẽ binding interpolation xuất dữ liệu sang bản bên cạnh, nhập sai thì không hiển thị gì cả </p>
  <h5> Cho Form Group như sau: </h5>
  <div class="row p-3">
    <div class="col-md-4 angular-data-binding">
      <form [formGroup]="formInfor" (submit)="confirmInfor()">
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Yêu cầu nhập email</div>
            <div *ngIf="f.email.errors.email">Không đúng định dạng email</div>
          </div>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Vui lòng nhập tên</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Xác Nhận</button>
      </form>
    </div>

    <div class="col-md-7 ml-3 angular-data-binding">
      <h4>Thông tin cá nhân binding interpolation</h4>
      <div class="pt-3">
        <p>Họ và tên: {{inforCustomer.name }}</p>
        <p>Địa chỉ Email: {{inforCustomer.email }}</p>
      </div>
    </div>

  </div>



  <h5> Binding NgModel: <span class="text-danger"> sử dụng [(ngModel)] để ràng buộc dữ liệu song song trên view </span>
    lưu ý viết kiểu [(ngModel)] mới binding
  </h5>
  <div class="row p-3">
    <input type="text" class="form-control col-5" [(ngModel)]="modelView" />
     <p class="col-4">ModalView: {{modelView}}</p>
  </div>
  <img style="width: 75%" src="https://i.stack.imgur.com/7iyQh.png">


</div>
